*.png
*.jpg
*.mhd
*.raw
bin/
flycheck*
*.o
*.gch

# Emacs
*~

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# CMake
*CMakeCache.txt
*CMakeFiles
*Makefile
*cmake_install.cmake
*install_manifest.txt
