[submodule "vc-deps"]
	path = vc-deps
	url = https://code.vis.uky.edu/seales-research/vc-deps.git
[submodule "cmake/sanitizers-cmake"]
	path = cmake/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
