name: Unit tests
on:
  push:
    branches: ["develop"]
  pull_request:
    branches:
      - "develop"

concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: true
jobs:
  debian_static:
    name: Debian 12 (static libraries)
    runs-on: ubuntu-latest
    container: ghcr.io/educelab/ci-docker:static.12.0
    if: ${{ github.event_name }} == "merge_request_event" || !(${{ github.ref }} && $CI_OPEN_MERGE_REQUESTS) || ${{ github.ref }}
    timeout-minutes: 180
    env:
      EXTRA_CMAKE_FLAGS: "-DVC_BUILD_EXAMPLES=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DVC_BUILD_TESTS=ON"
      CMAKE_PREFIX_PATH: "/usr/local/Qt-6.6.1/"
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.3.0
      with:
        fetch-depth: 20

    - name: Install SDL & GSL tool
      run: |
        sudo apt-get update
        sudo apt-get install -y libsdl2-dev libgsl-dev

    - name: Build volume-cartographer
      run: |
        cmake -S . -B build/ -GNinja $EXTRA_CMAKE_FLAGS
        cmake --build build/

    - name: Run tests
      run: ctest -V --test-dir build/

  debian_dynamic:
    name: Debian 12 (shared libraries)
    runs-on: ubuntu-latest
    container: ghcr.io/educelab/ci-docker:dynamic.12.0
    if: ${{ github.event_name }} == "merge_request_event" || !(${{ github.ref }} && $CI_OPEN_MERGE_REQUESTS) || ${{ github.ref }}
    timeout-minutes: 180
    env:
      EXTRA_CMAKE_FLAGS: "-DBUILD_SHARED_LIBS=ON -DVC_BUILD_EXAMPLES=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DVC_BUILD_TESTS=ON"
      CMAKE_PREFIX_PATH: "/usr/local/Qt-6.6.1/"
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.3.0
      with:
        fetch-depth: 20

    - name: Install SDL & GSL tool
      run: |
        sudo apt-get update
        sudo apt-get install -y libsdl2-dev libgsl-dev

    - name: Build volume-cartographer
      run: |
        cmake -S . -B build/ -GNinja $EXTRA_CMAKE_FLAGS
        cmake --build build/

    - name: Run tests
      run: ctest -V --test-dir build/
